@use "colors";

.checkmark {
    label {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 28px;
        color: colors.$gray;
    }

    input {
        // -webkit-appearance: none;
        // -moz-appearance: none;
        // -o-appearance: none;
        // appearance: none;
        border: 1px solid colors.$black;
        border-radius: none;
        width: 26px;
        height: 26px;
        outline: none;
    }

    input:checked {
        background-color: colors.$blue;
        content: '\2713';
    }

    input:checked + span {
        content: '\2713';
        display: block;
        text-align: center;
        color: #41B883;
    }
}