@use 'colors';

input {
    border: 1px solid colors.$gray_white;
    border-left: 3px solid colors.$blue;
    background-color: #FFFFFF;
    padding: 2%;
}

input:focus {
    outline: none;
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
}

input:hover {
    @extend input, :focus;
    outline: auto;
}