@use "./shared/colors";
@use "./shared/global_vars";

.content {
    display: flex;
}

.register {
    background-color: colors.$white;
    flex: 4;
    min-width: 40%;
    div {
        padding: 15%;
        padding-right: none;
    }
}

img {
    flex: 6;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

@media screen and (max-width: global_vars.$mobile_max_width) {  
    .content {
        display: block;
        height: 40%;
    }
    
    img.background {
        z-index: 1;
        height: 100vh;
    } 
    
    .register {
        position: fixed;
        z-index: 2;
        left: 20%;
        right: 20%;
        margin-top: 20%;
        margin-bottom: 20%;

        div {
            padding: 5%;
        }
    }
}