@use "./shared/colors";

.content {
    display: flex;
}

.register {
    background-color: colors.$white;
    flex: 4;
    min-width: 40%;
}

img {
    flex: 6;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}