@use "shared/link";
@use "shared/colors";

nav {
    background-color: colors.$white;
}

ul {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}

// $pineapple_img_path: '/home/emil/megabit/pineapple_frontend/src/styles/pineapple.svg';

// h6 {
//     // background-image: url($pineapple_img_path);
//     // background-repeat: no-repeat;
//     // background-position: left;
// }

li {
    flex: 2;
}

h6 {
    flex: 3;
}