@use './shared/colors';
@use './shared/global_vars';
@use './shared/heading';
@use './shared/paragraph';
@use './shared/input';
@use './shared/checkmark';


section {
    display: flex;
    flex-flow: column;
    h1, p, form {
        flex: 1;
    }
    .email {
        position: relative;
        input {
            width: 100%;
            border-right: none;
        }
        a.submit {
            background-color: #FFFFFF;
            padding: 2%;
            position: absolute;
            left: 100%;
            height: 100%;
            // flex: 1;
            border-left: none;
        }
    }
}
